In [7]:
import pandas as pd
import numpy as np
from catboost import CatBoostClassifier, Pool, MetricVisualizer

In [8]:
train = pd.read_csv('data/train.csv')
train

      label         os  is_mobile         country  pageviews
0         0    Windows      False       Australia          2
1         0        iOS       True  United Kingdom          3
2         0  Macintosh      False          Canada          4
3         0  Chrome OS      False   United States          4
4         0        iOS       True           India          4
...     ...        ...        ...             ...        ...
2494      0    Windows      False          Taiwan          1
2495      0    Windows      False   United States          1
2496      0        iOS       True          Monaco          1
2497      0    Windows      False          Taiwan          1
2498      0      Linux      False         Estonia          1

[2499 rows x 5 columns]

In [9]:
test = pd.read_csv('data/test.csv')
test

      label         os  is_mobile        country  pageviews
0         0  Macintosh      False  United States          1
1         0  Chrome OS      False  United States          1
2         0  Chrome OS      False      Australia          1
3         0    Android       True  United States          1
4         0  Macintosh      False  United States          1
...     ...        ...        ...            ...        ...
1794      0    Windows      False         Brazil          7
1795      0    Windows      False          India          8
1796      0    Windows      False         Turkey         11
1797      0    Android       True          Japan         12
1798      0    Windows      False          India         25

[1799 rows x 5 columns]

In [10]:
c_features = ['os','country']

train_data = Pool(train.drop('label', axis=1),
                  label=train.label,
                  cat_features=c_features,
                  has_header=True)

test_data = Pool(test.drop('label', axis=1),
                  label=test.label,
                  cat_features=c_features,
                  has_header=True)

In [12]:
model = CatBoostClassifier(iterations=20,
                           depth=2,
                           learning_rate=1,
                           loss_function='Logloss',
                           verbose=True)

model.fit(train_data, 
          plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 0.1517660	total: 1.08ms	remaining: 20.5ms
1:	learn: 0.0708245	total: 2.22ms	remaining: 20ms
2:	learn: 0.0440358	total: 2.91ms	remaining: 16.5ms
3:	learn: 0.0340376	total: 3.67ms	remaining: 14.7ms
4:	learn: 0.0324279	total: 4.45ms	remaining: 13.3ms
5:	learn: 0.0290089	total: 5.29ms	remaining: 12.3ms
6:	learn: 0.0280233	total: 6.12ms	remaining: 11.4ms
7:	learn: 0.0275305	total: 6.83ms	remaining: 10.3ms
8:	learn: 0.0274040	total: 7.52ms	remaining: 9.19ms
9:	learn: 0.0273128	total: 8.24ms	remaining: 8.24ms
10:	learn: 0.0260244	total: 8.92ms	remaining: 7.29ms
11:	learn: 0.0255844	total: 9.59ms	remaining: 6.39ms
12:	learn: 0.0255155	total: 10.4ms	remaining: 5.58ms
13:	learn: 0.0251030	total: 11.1ms	remaining: 4.76ms
14:	learn: 0.0249438	total: 11.8ms	remaining: 3.94ms
15:	learn: 0.0248190	total: 12.6ms	remaining: 3.15ms
16:	learn: 0.0247587	total: 13.3ms	remaining: 2.34ms
17:	learn: 0.0247350	total: 14.4ms	remaining: 1.6ms
18:	learn: 0.0246955	total: 15.1ms	remaining: 795us
19:	learn: 0.0246477	total: 15.8ms	remaining: 0us

In [ ]:

# make the prediction using the resulting model
preds_class = model.predict(test_data)
preds_proba = model.predict_proba(test_data)
print("class = ", preds_class)
print("proba = ", preds_proba)